*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
button{
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
input{
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}