*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;

}
html ::-webkit-scrollbar{
  display: none;
}
.vertical{
  display: flex;
  /* overflow: hidden; */
  flex-wrap: wrap;
}
.card{
  height: 370px;
  width: 320px;
  user-select: none;
  background-color: #fff;
  padding: 20px;
  margin: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;

}
.top{
  height: 40px;
  width: 100%;
  /* background-color:gray; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid grey;
}
.top button{
  padding: 5px 10px;
  border-radius: 5px;
  color: #121212;
  background-color: transparent;
  border: 1px solid grey;
}

.center h3{
  font-size: 25px;
}
.center h3 span{
  font-size: 15px;
  color: grey;
  padding-left: 5px;
  font-weight: 300;
}
.center h2{
  font-size: 27px;
  margin-top: 3px;
  font-weight: 600;

}
.tag{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 3px;
}
.tag h4{
  font-size: 14px;
  padding: 4px 10px;
  background-color: rgba(128, 128, 128, 0.625);
  border: 1px solid grey;
  border-radius: 5px;
  font-weight: 200;
}
.bottom{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom p{
  font-size: 15px;
  margin-top: 1px;
  color: grey;
}
.bottom button{
  padding: 7px 12px;
  border-radius: 5px;
  color: #fff;
  background-color: black;
  border: 1px solid grey; 
}