*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button{
  padding: 8px;
  margin: 5px;
  background-color: rgb(149, 190, 212);
  margin-top: 20px;
  font-size: 20px;
  border-radius: 0.5rem;
}
h1{
  font-size: 50px
  
}