*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}
h1{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}
h2{
    font-size: large;
}
.nav{
    
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav div{
    display: flex;
    gap: 13px;
}